/build/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile
/*.cmake
*.swp
*~
*.user.*
.user.
*.suo
.ntvs
*.log
.idea/
.vscode/
.vcxproj
*.sln
*.sdf
*.opensdf
*.vcxproj.filters
coverage.info
/coverage-html/
/_deps/
.DS_Store
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.lib